.wrapper{
    max-width: 600px;
    max-height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

body, html{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.piece{
    -webkit-transition: 1s all;
    transition: 1s all;
}

.button-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15vh;
    margin: auto;
    width: max-content;
    height: max-content;
}

button{
    padding: 10px 35px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: white;
    transition: 0.3s all;
    cursor: pointer;
    outline: none;
}

.scatter{
    background-color: white;
    border: 2px solid #CF647E;
    color: #CF647E;
}

.scatter:hover{
    color: white;
    background-color: #CF647E;
}

.reset{
    color: #397E66;
    border: 2px solid #397E66;
}

.reset:hover{
    color: white;
    background-color: #397E66;
}